@{
    ViewData["Title"] = "CMS Home Page";
}

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Wellcome to CMS HN Plus</h1>
  <p>Minh and Dat code this super amazing web!</p> 
</div>
