html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    text-decoration: none;
}

.custom-file-upload:hover {
    background-color: #f2f2f2;
}
